@media all and (max-width: 1000px) {
	.cover{
		width: 100%;
		height: 500px;
	}


	.content{
		top: 500px;
		left: 0;
	}

	.content h1{
		font-size: 2em;
		text-align: center;
	}

	.arrow{
		display: none;
	}

	.gallery p{
		text-align: center;
	}
	
	.content > .row{
		padding: 0 0 70px 0 !important;
	}

	.cover span{
    	margin-top: 13%;
    }
    
    .gallery h1{
        padding: 30px 0 !important; 
    }
    
    .watch{
        top: 0;
    }
}
	
@media all and (max-width: 900px) {
	.col-c{
		width: 100% !important;
        background: white;
	}
    
    .content > .row{
        padding: 0 !important;   
    }
    
}
@media all and (max-width: 500px) {
	.download a{
		display: inherit;
	}

}

@media all and (max-width: 450px) {
	.cover span{
    	font-size: 57px;
    }
    
	.arrow{
		width: 40px;
		height: 40px;
		opacity: 1;
		margin-left: -20px;
		top: -50px;
	}

	a.arrow > svg{
		width: 40px;
		margin-top: -11px; 
	}
    
    .cover{
		width: 100%;
		height: 350px;
	}
	.content{
		top: 350px;
		left: 0;
	}

	.content h1{
		font-size: 2em;
	}

	.cover span{
		margin-top: 7px;
	}
    
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx)
{
    -webkit-font-smoothing: subpixel-antialiased;
}


@media all and (max-height: 750px) {
    .video-container{
        max-width: 700px;
    }
}
